#dashboard,
#signup,
#login {
    background-color: #263238!important;
}
#navbar-right > span:nth-child(1) > span.dropdown > a,
#navbar-right > span.dropdown.open > ul,
#dashboard-footer,
#dashboard .card,
#login input,
.navbar {
    background-color: #455A64!important;
    border: none!important;
}
#dashboard-projects > div.projects.cards.clearfix > div > div.project-info > h3 > span:nth-child(1),
#dashboard-footer > div > span.dashboard-projects-left.available-projects,
#dashboard-projects > div.dashboard-top.clearfix > h1,
#pricing-page > div:nth-child(1) > center:nth-child(1) > h1,
#learnmore > div > h3,
#learnmore > div > ul > li.ssl > strong,
#create-first-team > h2,
#dashboard-help > div > h1 > a,
#dashboard-help > ui-view > div > div:nth-child(1) > h3,
#dashboard-help > ui-view > div > div:nth-child(3) > h3,
#learnmore > div > ul > li.templates > strong,
#learnmore > div > ul > li.exporting > strong,
#learnmore > div > ul > li.preview > strong,
#learnmore > div > ul > li.sharing > strong,
#learnmore > div > ul > li.ionic > strong,
#dashboard-help > ui-view > div > a > h3,
#login > div > form > p:nth-child(1),
#login > div > form > div.pull-right,
#login > div > div.message > h3,
#dashboard-help .card.help h3,

.dropdown-menu > li > a,
#dashboard-footer,
#dashboard-footer,
#document-name,
.form-control,
.link {
    color: #fff!important;
}
#dashboard-projects .project .project-options {
    border-top: 2px solid #37474F!important;
}
